body {
  font-size: 0.875rem;
}

.dashboard-main {
  padding-top: 20px;
  background-color: #fcfcfc;
}

.dashboard-content .card {
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  background-color: #ffffff; /* Ensure cards have a white background */
}

.dashboard-content .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.dashboard-content .card-text {
  font-size: 1.5rem;
}

/* Adding side color lines to the cards */
.card-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  border-radius: 10px 0 0 10px;
}

.card-line-primary::before {
  background-color: #097066; /* Color from sidebar gradient */
}

.card-line-success::before {
  background-color: #3f4add; /* Another color from sidebar gradient */
}

.card-line-warning::before {
  background-color: #c9cc1b; /* Color from navbar */
}

.card-line-danger::before {
  background-color: #df4b26; /* Color from navbar */
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-outline-secondary {
  color: #007f72; /* Match primary color */
  border-color: #007f72; /* Match primary color */
}

.btn-outline-secondary:hover {
  background-color: #007f72; /* Match primary color */
  color: #ffffff;
  border-color: #007f72; /* Match primary color */
}

/* .calendar {
  Basic calendar styling
} */

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}
