/* Custom table styling */
.custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px 0;
    font-size: 0.875rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.custom-table thead {
    background: linear-gradient(135deg, #003f7d 0%, #005b9b 100%);
    color: #ffffff;
    border-bottom: 2px solid #005b9b;
}

.custom-table th {
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
}

.custom-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.custom-table tbody tr {
    transition: background-color 0.3s, transform 0.3s;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.custom-table tbody tr:hover {
    background-color: #e9ecef;
    transform: scale(1.01);
}

.custom-table tbody td:last-child {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* Pagination styling */
.pagination {
    margin: 0;
}

.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.page-link {
    color: #007bff;
    border: 1px solid #dee2e6;
    margin: 0 2px;
    border-radius: 4px;
}

.page-link:hover {
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

/* Search and filter styling */
.form-control {
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 14px;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* Custom CSS for the "Add Product" button */
.add-product-btn {
    width: auto;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff !important ;
    color: white !important ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-product-btn:hover {
    background-color: #0056b3 !important ;
}

.add-product-btn:active {
    background-color: #004080 !important ;
}

/* Custom CSS for the Total Amount */
.total-amount {
    font-weight: bold;
    border-top: 2px solid #000;
    padding-bottom: 2px;
}

/* Custom CSS for the Cancel and Submit buttons */
.cancel-btn, .submit-btn {
    width: auto;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Cancel Button */
.cancel-btn {
    background-color: #6c757d !important ;
    color: white !important ;
    border: none;
}

.cancel-btn:hover {
    background-color: #5a6268 !important ;
}

.cancel-btn:active {
    background-color: #4a5257 !important ;
}

/* Submit Button */
.submit-btn {
    background-color: #007bff !important ;
    color: white !important ;
    border: none;
}

.submit-btn:hover {
    background-color: #0056b3 !important ;
}

.submit-btn:active {
    background-color: #004080 !important ;
}