body {
  font-size: .875rem;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

.dashboard-main {
  padding-top: 20px;
}

.dashboard-content .card {
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.dashboard-content .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.dashboard-content .card-text {
  font-size: 1.5rem;
}

.card-orders {
  background: linear-gradient(135deg, #007f72 0%, #13bcab 50%, #9ebbb8 100%);
  color: #ffffff;
}

.card-sales {
  background: linear-gradient(135deg, #009688 0%, #26df9b 100%);
  color: #ffffff;
}

.card-customers {
  background: linear-gradient(135deg, #ff9800 0%, #ffc107 100%);
  color: #ffffff;
}

.card-issues {
  background: linear-gradient(135deg, #f44336 0%, #e53935 100%);
  color: #ffffff;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.border-bottom {
  border-bottom: 2px solid #007bff !important;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Calendar */
.calendar table {
width: 100%;
}

.calendar th {
background-color: #007bff;
color: white;
text-align: center;
}

.calendar td {
text-align: center;
vertical-align: middle;
cursor: pointer;
transition: background-color 0.3s;
}

.calendar td
{
background-color: #007bff;
color: white;
}

/* User Activity Matrix */
.table th {
background-color: #007bff;
color: white;
}

.table td {
vertical-align: middle;
}

/* Buttons */
.btn {
border-radius: 0.25rem;
transition: background-color 0.3s, transform 0.3s;
font-weight: 500;
}

.btn
{
transform: translateY(-2px);
background-color: #007bff;
color: white;
}

/* Sidebar */
.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
z-index: 100;
padding: 48px 0 0;
box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
background: linear-gradient(135deg, #007f72 0%, #13bcab 50%, #9ebbb8 100%);
color: #ffffff;
display: flex;
flex-direction: column;
height: 100vh;
}

@media (max-width: 767.98px) {
.sidebar {
top: 5rem;
}
}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 48px);
padding-top: .5rem;
overflow-x: hidden;
overflow-y: auto;
}

.sidebar .nav-link {
font-weight: 500;
color: #ffffff;
transition: background-color 0.3s, transform 0.3s;
height: 70px;
border-bottom: 2px solid #034842;
}

.sidebar .nav-link .feather {
margin-right: 4px;
color: #b0b0b0;
}

.sidebar .nav-link.active {
background-color: rgba(255, 255, 255, 0.2);
color: #ffffff;
}

.sidebar .nav-link
{
background-color: rgba(255, 255, 255, 0.1);
color: #ffffff;
}

.sidebar-heading {
font-size: .75rem;
text-transform: uppercase;
}

.sidebar-footer {
margin-top: 160px;
padding: 15px;
color: white;
border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-footer h6 {
margin-bottom: 10px;
font-size: 1rem;
}

.contact-icons {
display: flex;
gap: 10px;
}

/* Navbar */
.navbar-brand {
padding-top: .75rem;
padding-bottom: .75rem;
font-size: 1rem;
background: linear-gradient(135deg, #009688 0%, #26df9b 100%);
color: #ffffff;
box-shadow: inset -1px 0 0 rgba(0, .50, .25, .50);
}

.navbar {
background: linear-gradient(135deg, #007f72 0%, #13bcab 50%, #1e6059 100%);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-toggler {
top: .25rem;
right: 1rem;
}

.navbar .form-control {
padding: .75rem 1rem;
border-width: 0;
border-radius: 0;
}

.form-control-dark {
color: #fff;
background-color: rgba(255, 255, 255, .1);
border-color: rgba(255, 255, 255, .1);
}

.form-control-dark
{
border-color: transparent;
box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}