body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background: linear-gradient(135deg, #007f72 0%, #13bcab 50%, #9ebbb8 100%);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #ffffff;
  transition: background-color 0.3s;
  height: 70px;
  border-bottom: 2px solid #034842;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #b0b0b0;
}

.sidebar .nav-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.sidebar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar-footer {
  margin-top: 160px;
  padding: 15px;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-footer h6 {
  margin-bottom: 10px;
  font-size: 1rem;
}

.contact-icons {
  display: flex;
  gap: 10px;
}

/* Navbar */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background: linear-gradient(135deg, #009688 0%, #26df9b 100%);
  color: #ffffff;
  box-shadow: inset -1px 0 0 rgba(0, .50, .25, .50);
}

.navbar {
  background: linear-gradient(135deg, #007f72 0%, #13bcab 50%, #1e6059 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* Buttons */
.btn {
  border-radius: 0.25rem;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  transform: translateY(-2px);
}
